<html ng-app="MyApp">
    <head>
        <title></title>
        <style>
            .angular-google-map-container {
                height: 800px;
                width: 800px;
                border: 1px solid black;
            }
        </style>

    </head>
    <body ng-controller="HomeController as vm">
        
        <ui-gmap-google-map center="vm.center" zoom="vm.zoom">
            <ui-gmap-markers models="vm.markers"
                             coords="'self'"
                             icon="'icon'"
                             options="'options'">
            </ui-gmap-markers>
        </ui-gmap-google-map>




        <script src="~/Scripts/angular.min.js"></script>
        <script src="~/Scripts/lodash.js"></script>
        <script src="~/Scripts/angular-simple-logger.js"></script>
        <script src="~/Scripts/angular-google-maps.min.js"></script>
        <script src="~/ngApp/app.js"></script>
        <script src="~/ngApp/controllers.js"></script>
    </body>


</html>